body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.app {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feed-container {
  margin-top: 20px;
}

.post-card {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.post-content {
  margin-top: 20px;
}

.post-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.post-description {
  color: #585858;
  margin-bottom: 20px;
}

.post-skills {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-skill {
  margin-right: 10px;
}

.post-skill::before {
  content: "•";
  margin-right: 5px;
}